$primary-color: #4d4c5d;
$secondary-color: #da3518;
$show-home-image: true;
$home-image: url(/dist/img/background.jpg);
$avatar-image: url(/dist/img/avatar.jpg);
$avatar-image-small: url(/dist/img/avatar-small.jpg);
$background-opacity: 0.8;

// Sec Text COlor
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
// Media Query Mixins

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (man-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
